################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/chubb.studio.test/bin
/Chubb.Studio.TestAutomationUtils/.vs
/Chubb.Studio.TestAutomationUtils/bin
/Chubb.Studio.TestAutomationUtils/obj
/.vs/Chubb.Studio.TestAutomationUtils
/bin
/obj
/.vs/ProjectEvaluation
/obj/chubb.studio.test
/obj/Chubb.Studio.TestAutomationUtils
