<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DefaultPageLoadTimeout" value="100" />
		<add key="DefaultExplictWait" value="20" />
		<add key="DefaultPollInterval" value="10" />
		<add key="DefaultTimeout" value="10" />
		<!-- RunMode = CMD, VS, Remote, local -->
		<add key="RunMode" value="local" />
		<!--DeviceMode = Desktop, iPhone X, Galaxy S5, Pixel 2,  Pixel 2 XL,
    iPhone 5/SE, iPhone 6/7//8 Plus, iPhone 6/7/8, iPad, iPad Pro-->
		<add key="DeviceMode" value="Desktop" />
		<!-- BrowserType = Chrome, Firefox,  Edge -->
		<add key="BrowserType" value="Chrome" />
		<!-- BrowserState = headless,Normal,NA -->
		<add key="BrowserState" value="Normal" />
		<!-- Environment = SIT,UAT,PROD -->
		<add key="Environment" value="UAT" />
		<add key="Language" value="du" />
		<add key="ProjectName" value="TMobile_NL" />
		<!--<add key="SendAppInsightStatus" value="No" />-->

		<!-- SendEmail = No, Yes -->
		<add key="SendEmail" value="No" />
		<add key="MailBoxOwner" value="sriharigoud.balla@chubb.com" />
		<add key="MailTo" value="sriharigoud.balla@chubb.com" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
</configuration>